{% extends 'books_base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h3>Libros</h3>

<table class="table">

    <thead>
        <tr>
            <th>Título</th>
            <th>Fecha</th>
            <th>Autor</th>
            <th>Género</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for book in books %}
        <tr>
            <td><a class="text-decoration-none" href="{% url 'book_detail' book.pk %}">{{book.title}}</a></td>
            <td>{{ book.date }}</td>
            <td><a class="text-decoration-none" href="{% url 'author_detail' book.author.pk %}">{{book.author.name}}</a></td>
            <td>
                {% for genre in book.genres.all %}
                <a class="text-decoration-none" href="{% url 'books_by_genre' genre %}">{{genre}}</a>
                {% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
            <td><a href="{% url 'book_edit' book.id %}">Editar</a></td>
            <td><a href="{% url 'book_delete' book.id %}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<a class="btn btn-primary" href="{% url 'book_create' %}">Nuevo</a>

{% endblock %}