{% extends 'books_base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h3>Géneros</h3>

<table class="table">

    <tbody>
        {% for genre in genres %}
        <tr>
            <td><a class="text-decoration-none" href="{% url 'books_by_genre' genre %}">{{genre}}</a></td>
            <td><a href="{% url 'genre_edit' genre.id %}">Editar</a></td>
            <td><a href="{% url 'genre_delete' genre.id %}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<a class="btn btn-primary" href="{% url 'genre_create' %}">Nuevo</a>

{% endblock %}